<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body>
    <div class="container">
      <h2 id="bookListTitle"></h2>
      <div class="row">
        <div class="col-md-4">
          <img src="img/books.png" alt="books">
        </div>
        <div class="col-md-8">
          <div class="bookListContents">
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--Include your Books List class definitions in a new script tag below -->
    <!-- SORRY. I DIDN'T USE THE GIVEN BOOKLIST.JS FILE. INSTEAD IT'S IN READING-LIST.JS -->
    <script type="text/javascript" src="reading-list.js"></script>
    <!--Your `driver code` should go below this line, along with your DOM manipulation code -->
    <script>
      

      // //Create a new BookList
      // var kunsList = new BookList ({});
      // //Create some Books
      // kunsList.add({title:"the programming adventures of Kun", genre:"fiction", author:"Kun Hsu", haveRead: true})
      // kunsList.add({title:"good morning computer", genre:"non-fiction", author:"Kun Hsu"})
      // kunsList.add({title:"try and catch this error", genre:"fiction", author:"Kun Hsu"})
      // //Add the Books to the BookList

      // //Your DOM Manipulation Code Goes Here

      // var bookListHeader = document.getElementById('bookListTitle');
      // var bookListContent = document.getElementsByClassName('bookListContents');
      // var bookListUl = document.createElement('ul');
      // bookListContent[0].appendChild(bookListUl);
      // for (var i =0; i<kunsList.allBooks.length; i++) {
      //   var eachBook = document.createElement('li');
      //   if (kunsList.allBooks[i].haveRead) {
      //     eachBook.style.textDecoration = "line-through";
      //   }
      //   var eachTitle = document.createElement('strong');
      //   eachTitle.innerText = kunsList.allBooks[i].title + ' -- ';
      //   eachBook.appendChild(eachTitle);
      //   var eachAuthor = document.createElement('em');
      //   eachAuthor.innerText = kunsList.allBooks[i].author;
      //   eachBook.appendChild(eachAuthor);
      //   bookListUl.appendChild(eachBook);
      // }
      // bookListHeader.innerText = "Book List";
      // bookListHeader.className = "jumbotron";
      
    </script>

  </body>
</html>
