<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body>
    <div class="container">
      <h1>MARKOVIFY</h1>
      <div class="row">
        <div class="col-md-6">
          <form action="/api" method="POST">
            <div class="form-group">
              <label for="speaker">Speaker</label>
              <select name="speaker" class="form-control">
                <option value="Trump">Trump</option>
                <option value="Obama">Obama</option>
              </select>
            </div>
            <div class="form-group">
              <label for="style">Style</label>
              <select name="style" class="form-control">
                <option value="positive">Positive</option>
                <option value="negative">Negative</option>
                <option value="neutral">Neutral</option>
              </select>
            </div>
            <div class="form-group">
              <label for="type">Speech or Tweet</label>
              <select name="type" class="form-control">
                <option value="Speech">Speech</option>
                <option value="Tweet">Tweet</option>
              </select>
            </div>
            <div class="form-group">
              <label for="n-grams">N-grams (similarity to speaker)</label>
              <select name="n-grams" class="form-control">
                <option value="2">bi-gram - silly</option>
                <option value="3">tri-gram - just right</option>
                <option value="4">quad-gram - too much</option>
              </select>
            </div>
            <div class="form-group">
              <label for="out-length">Output Length (in words)</label>
              <input name="out-length" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="add">Add Your Own Text</label>
              <textarea name="add" type="text-area" rows='5' class="form-control" placeholder="Add Something"></textarea>
            </div>
            <button type="submit" class="btn btn-default" id="submit-button">Submit</button>
          </form>
        </div>
        <div class="col-md-6">
          {% block content %}
          <h2>{{speaker}}</h2>
          <div id="output-text">
          
          <h4>{{output}}</h4>
          {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
